# OFI Feature Extraction
This notebook demonstrates how to calculate Best-Level, Multi-Level, and Integrated Order Flow Imbalance (OFI) features.

In [3]:
import sys
sys.path.append('../src')
from ofi_features import compute_best_level_ofi, compute_multi_level_ofi, compute_integrated_ofi

In [4]:
import pandas as pd
from ofi_features import compute_best_level_ofi, compute_multi_level_ofi, compute_integrated_ofi

In [5]:

df = pd.read_csv('../data/first_25000_rows.csv')


rename_map = {}
for lvl in range(10):
    i = f"{lvl:02d}"      
    j = lvl + 1           
    rename_map[f'bid_px_{i}'] = f'bid_price{j}'
    rename_map[f'ask_px_{i}'] = f'ask_price{j}'
    rename_map[f'bid_sz_{i}'] = f'bid_size{j}'
    rename_map[f'ask_sz_{i}'] = f'ask_size{j}'

df = df.rename(columns=rename_map)

print("Available OFI cols:", 
      [c for c in df.columns if c.startswith('bid_price') or c.startswith('ask_price')])

Available OFI cols: ['bid_price1', 'ask_price1', 'bid_price2', 'ask_price2', 'bid_price3', 'ask_price3', 'bid_price4', 'ask_price4', 'bid_price5', 'ask_price5', 'bid_price6', 'ask_price6', 'bid_price7', 'ask_price7', 'bid_price8', 'ask_price8', 'bid_price9', 'ask_price9', 'bid_price10', 'ask_price10']

In [6]:
df['best_ofi'] = compute_best_level_ofi(df)
df[['best_ofi']].head()

   best_ofi
0         0
1         2
2         3
3         0
4         0

In [7]:
multi_ofi_df = compute_multi_level_ofi(df)
multi_ofi_df.head()

   ofi_1  ofi_2  ofi_3  ofi_4  ofi_5  ofi_6  ofi_7  ofi_8  ofi_9  ofi_10
0      0      0      0      0      0      0      0      0      0       0
1      2      0      0      0      0      0      0      0      0       0
2      3      0      0      0      0      0      0      0      0       0
3      0      0    200      0      0      0      0      0      0       0
4      0      0   -200      0      0      0      0      0      0       0

In [8]:
df = pd.concat([df, multi_ofi_df], axis=1)

In [9]:
df['integrated_ofi'] = compute_integrated_ofi(multi_ofi_df)
df[['integrated_ofi']].head()

   integrated_ofi
0       -0.002385
1        0.058920
2        0.058920
3        0.265760
4       -0.270529

In [10]:
df[['best_ofi', 'integrated_ofi'] + list(multi_ofi_df.columns)].head()

,best_ofi,integrated_ofi,ofi_1,ofi_2,ofi_3,ofi_4,ofi_5,ofi_6,ofi_7,ofi_8,ofi_9,ofi_10
0,0,-0.002385,0,0,0,0,0,0,0,0,0,0
1,2,0.058920,2,0,0,0,0,0,0,0,0,0
2,3,0.058920,3,0,0,0,0,0,0,0,0,0
3,0,0.265760,0,0,200,0,0,0,0,0,0,0
4,0,-0.270529,0,0,-200,0,0,0,0,0,0,0